@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
    --alataFont:'Alata', sans-serif;
    --josefinSans:'Josefin Sans', sans-serif;
}

body{
    height: auto;

}

.header{
    max-width:750px;
    height: 700px;
    background-color: beige;
    background-image: url(../images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25px;
    position: relative;
    display: flex;
    align-items: start;
    margin: 0 auto;
    z-index: 1;
   
}
.header-nav{
    display: none; 
}
.header-nav-active{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:var(--Black);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    overflow: hidden;
    .header-nav--click{
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 35px;
        height: 60%;
        a{
            text-decoration: none;
            color: var(--White);
            font-family: var(--josefinSans);
            text-transform:uppercase;
            font-size: x-large;
        }

    }


}

.header img{
    width: 180px;
    z-index: 3;
}
.header img + img{
    height: 35px;
    width: 35px;
    position: absolute;
    right: 25px;
    
    

   
    
}

.header img + img:hover{
    cursor: pointer;
}

.header--tex{
    color: white;
    position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
    margin: auto;
    height: 200px;
    width: 375px;
    border: solid 2px white;
    display: flex;
    justify-content: center;
}

.header--tex p{
    padding: 10px;
    display: block;
    font-size: 40PX;
    font-family:var(--josefinSans) ;
    font-weight: 300;
    line-height: 50px;
    margin-top: 5%;

    

}
.leader{
    width: 375px;
    height: auto;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 4rem;


}
.leader img{
    display: block;
    height: 240px;
    width: 375px;
    margin: 0 auto;
    
    
}

.leader .leader-text {
    width: 300px;
    margin: 0 auto;
    
}
.leader h1{
    font-family: var(--josefinSans);
    font-size: 35px;
   text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin-top: 4rem;
}
.leader p{
    font-family: var(--josefinSans);
    color:var(--Dark-Gray);
    font-size: 20px;
    font-weight:600;
    margin-top: 1.5rem;
    text-align: center;
    line-height: 26px;
    text-wrap: balance;
}

.cardContein{
    margin: 0 auto;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-bottom: 100px;
    
    h3{
        font-family: var(--josefinSans);
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        font-size: 38px;
        margin-bottom: 30px;
        
    }
   
}
.cardContein button{
    height: 60px;
    width: 40%;
    border:solid 2px var(--Black) ;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: var(--josefinSans);
    font-size: large;
   

}
.cards:hover{
    cursor: pointer;
}
.cards{
    width: 375px;
    min-height: 150px;
    background-color: beige;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        padding: 0 0 20px 20px;
        

    p{
        position: absolute;
        font-family: var(--josefinSans);
        color:var(--White);
        text-transform: uppercase;
        font-size: x-large;
        font-weight: 400;
        bottom: 10px;
        word-wrap: break-word;
        width: 130px;
        
        
        
    }

}
.card-1{
    background-image: url('../images/mobile/image-deep-earth.jpg');
   
}
.card-2{
    background-image: url('../images/mobile/image-night-arcade.jpg');
}
.card-3{
    background-image: url('../images/mobile/image-soccer-team.jpg');
}
.card-4{
    background-image: url('../images/mobile/image-grid.jpg');
}
.card-5{
    background-image: url('../images/mobile/image-from-above.jpg');
   
}
.card-6{
    background-image: url('../images/mobile/image-pocket-borealis.jpg');
}
.card-7{
    background-image: url('../images/mobile/image-curiosity.jpg');
}
.card-8{
    background-image: url('../images/mobile/image-fisheye.jpg');
    margin-bottom: 16px;
}
.footer{
    height: 400px;
    max-width: 750px;
    margin: 0 auto;
    background-color: var(--Black);
    color: var(--White);
    padding: 30px  30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    p{
        text-align: center;
        font-family: var(--alataFont);
        font-weight: 300;
    }
    p:hover{
        cursor: pointer;
    }
    
}
.footerContein{
    height: 350px;
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
}
.footerSocial{
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 18px;
    color: var(--Very-Dark-Gray);
    p:hover{
        cursor: text;
    }
    img{
        width: 30px;
    
    }
    img:hover{
        cursor: pointer;
        
    }
}
.fotext{
    gap: 30px;
    font-size: 25px;

}
.ffsocial{
    height: auto;
    width: 200px;
    display: flex;
    gap: 25px;
    justify-content: space-around;
}
.caja{
    background-color: black;
    p{
        color: aliceblue;
    }
}

@media (min-width:800px) {
    
    .header{
        max-width: 100%;
        background-image: url(../images/desktop/image-hero.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: 5.5rem 10%;
    }
    
    #burger{
        display: none;
    }
    .header-nav{
        display: inline;
        a{
            color: white;
            text-decoration: none;
            font-family: var(--alataFont);
            margin-right: 1.4rem;
        }
        a:last-child{
            margin-right:0;
        }

    }
    .box{
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 900px;

    }
    .header--tex{
        position: absolute;
        margin-left: 0;
        margin-bottom: 5rem;
        width: 75%;
        height: 60%;
        display: flex;
        
       

        p{
            font-size: 60px;
            line-height: 75px;
            word-wrap: break-word;
            margin: 0;
            padding: 0;
            padding-top: 2.5rem;
        }
        
    }
    .boxx{
        display: flex;
        width: 100%;
        justify-content: space-between;  
    }

    .leader{
        position: relative;
        margin: 0;
        height: 600px;
        width: 100%;
        padding: 5rem 10%;
        
        img{
             display: none;
        }
        display: flex;
        margin-top: 3rem;
    }
    .leaderImg{
        width:60% ;
        height: 100%;
        background-image: url(../images/desktop/image-interactive.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
        z-index: 1;

    }
    .leader .leader-text {
      background-color: var(--White);
        width: 600px;
        height: 315px;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 5rem;
        margin-right: 10%;
        z-index: 1;
        padding: 4rem 0 0 4rem;
        h1{
            margin: 0;
            font-size: 58px;
            text-align: left;
            font-weight: 400;
        }
        p{
            margin-top: 0;
            text-align: left;
            font-size: large;
        }

       
        
    }    
    .cardContein{
        position: relative;
        width: 100%;
        height:auto;
        padding: 0 10%;
        margin-top: 4rem; 
        padding-bottom: 10rem;
        display: grid;
        grid-template-columns: repeat(4,1fr); 
        grid-template-rows: auto  1fr 1fr; 
        grid-template-areas: 
        " txbt  txbt txbt txbt"
        " img1  img2 img3 img4"
        " img5  img6 img7 img8"
        
        ;
    
    
    }
    .cardContein .ttleBton{
        grid-area: txbt;
        position: relative;
        width: 100%;
        height: 100%;
        h3{
            text-align: left;
            margin-bottom: 0;
        }
        
    }
    .cardContein button{
        position: absolute;
        top: 0;
        right: 10%;
    
    
    
    }
    .btongrid{
        z-index: 3;
     
       
        height: 2.5rem !important;
        width:7rem !important;
        cursor: pointer;
        

    }
    .cards{
        border-radius: 5px;
    
        height: 450px;
        width: 100%;
        background-position: center;
        background-size: cover;
        padding: 0;
        display: flex;
        align-items: end;
        justify-content: center;
        p{  
            
            width: 60%;
            position: relative;
            font-family: var(--josefinSans);
            color:var(--White);
            text-transform: uppercase;
            font-size: xx-large;
            font-weight: 400;
            word-wrap: break-word;
           
        
        }
    
    
    }
    .card-1{
        background-image: url('../images/desktop/image-deep-earth.jpg');
       
    }
    .card-2{
        background-image: url('../images/desktop/image-night-arcade.jpg');
    }
    .card-3{
        background-image: url('../images/desktop/image-soccer-team.jpg');
    }
    .card-4{
        background-image: url('../images/desktop/image-grid.jpg');
    }
    .card-5{
        background-image: url('../images/desktop/image-from-above.jpg');
       
    }
    .card-6{
        background-image: url('../images/desktop/image-pocket-borealis.jpg');
    }
    .card-7{
        background-image: url('../images/desktop/image-curiosity.jpg');
    }
    .card-8{
        background-image: url('../images/desktop/image-fisheye.jpg');
        margin-bottom: 0;
        
        
    }
    .footer{
    
        max-width: 100%;
        height: 200px;
        flex-direction: row;
        padding:  0 10%;
    }
    .footerContein{
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
        gap: 25px;
       
    }
    .footerContein img{
        align-self: first baseline;
    
    
    }
    .fotext{
        display: flex;
        gap: 25px;
    }
    .footerSocial{
        margin: 0;
        gap: 25px;    
    
    }
    .ffsocial{
     align-self: last baseline;
    }
    
}


